<div class="container">
	<div class="titular">		
		<img src="https://www.abs-group.com/content/inline-images/What_We_Do/software-solutions/1515-document-manager-1043x326.jpg" class="bg"/>
		<!-- <button  routerLink="login" class="btntop">Login</button> -->
		<p class="tagline">Document Management System</p>
		<p class="subtitle">Join us to be a part of a community</p>
		
	</div>
	<div class="context">
		<br/><br/>
		<h1>Upload new things</h1>
		<p class="line"></p>
		<p class="para">Keeping your paperless office documents only on your computer or local server poses the risks of hard drive failure, fire, flood or burglary.<br>Paperless document management is a clear and easy part of everyday business for many companies and organizations worldwide.<br>Upload the document and keep your document safe.</p>
	</div>
	
	<div class="area" >
		<ul class="circles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li> 
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div >
	
	<div class="gallery">
		<h1>Explore all possibilities...</h1>
		<div class="grid">
			<img src="https://thumbs.dreamstime.com/b/web-241948544.jpg"/>
			<img src="https://cdn.vox-cdn.com/thumbor/ozdiCwF7-0ka_M9iCf0KJLTzwdQ=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/13608671/shutterstock_721678087.jpg"/>
			<img src="https://static.vecteezy.com/system/resources/thumbnails/000/173/677/small/Spreadsheet_Illustration.jpg"/>
			<img src="https://media.istockphoto.com/vectors/permanently-deleting-documents-from-the-laptop-to-the-trash-data-vector-id1213549790?k=20&m=1213549790&s=612x612&w=0&h=llcZLG9Bd8INLeQ97vJXBrzAfgQZ-KChT50yGHF-3s0="/>
		</div>	
		<footer class="footer_banner">
		</footer>
</div>
<router-outlet></router-outlet>