
     <div class="doc-container">
        <div class="hero-image">
            <div class="hero-text">
                <div class="dashboard">
                    <h2 class="para">VIEW THE FILE</h2>
                    </div>
                    
                    <table>
                        
                               <thead>
                                   <tr>
                                       <th>SL.NO</th>
                                       <th>USERNAME</th>
                                       <th>DOCUMENT NAME</th>
                                       <th>DOCUMENT TYPE</th>
                                       <th>ACTION</th>
                                   </tr>
                        
                               </thead>
                       
                               <tbody>
                        
                                   <tr>
                                       <td>01</td>
                                       <td>LALITHA</td>
                                       <td>RESUME</td>
                                       <td>DOC</td>
                                       <td><button class="btn">VIEW</button></td>
                                   </tr>
                        
                                   <tr>
                                    <td>02</td>
                                    <td>PRAGATHI</td>
                                    <td>RESULT</td>
                                    <td>PDF</td>
                                    <td><button class="btn">VIEW</button></td>
                                      
                                   </tr>
                                   
                        
                                   <tr>
                                    <td>03</td>
                                    <td>PUNYA</td>
                                    <td>BUDJET</td>
                                    <td>EXCEL</td>
                                    <td><button class="btn">VIEW</button></td>
                                   </tr>
                        
                              </tbody>
                        
                           </table>
                           <button routerLink="/navbar" class="btn">BACK</button>
            </div>
          </div>
    </div>